@model WebBanSach.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div class="spec ">
    <h3>Đăng ký</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
</div>
<div style="margin-left: 400px">
    @using (Html.BeginForm())
    {
        <h3>@ViewBag.Thongbao</h3>
        @*@Html.AntiForgeryToken()*@

        <div class="form-horizontal">
            <hr />

            @Html.ValidationSummary(false)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PassWord)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @*<span id="loiName"></span>*@
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    @*<span id="loiDate"></span>*@
                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tel)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Province_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Province_Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Province_Id)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @*<span id="loiEmail"></span>*@
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnSubmit"type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
@*<script type="text/javascript">
    $('#btnSubmit').click(function () {
        var loi = 0;
        if($('#Name').val()=="")
        {
            $('#loiName').text('Tên không được để trống !!!');
            loi++;
        }
        else $('#loiName').text('');
        if($('#DateOfBirth').val()=="")
        {
            $('#loiDate').text("Ngày sinh không được để trống !!!");
            loi++;
        }
        else $('#loiDate').text('');
        if ($('#Email').val() == "") {
            $('#loiEmail').text("Email không được để trống !!!");
            loi++;
        }
        else $('#loiEmail').text('');
        if(loi != 0)
        {
            return false;
        }
        return true;
    });

</script>*@
<!--
    



<div class="login">
    <div class="main-agileits">
        <div class="form-w3agile form1">
            <h3>Register</h3>
            <form action="#" method="post">
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" value="Username" name="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <input type="text" value="Email" name="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" value="Confirm Password" name="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
</div>
    -->
