@using WebBanSach.Models;
@model Book
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div class="single">
    <div class="container">
        <div class="single-top-main">
            <div class="col-md-5 single-top">
                <div class="single-w3agile">

                    <div id="picture-frame">
                        <img src="@Model.ImageCover" data-src="@Model.ImageCover" alt="" class="img-responsive" />
                    </div>
                    <script src="js/jquery.zoomtoo.js"></script>
                    <script>
			$(function() {
				$("#picture-frame").zoomToo({
					magnify: 5
				});
			});
                    </script>



                </div>
            </div>
            <div class="col-md-7 single-top-left ">
                <div class="single-right">
                    <h3>Tên Sách : @Model.Name</h3>
                    <div class="pr-single">
                        <p class="reduced ">Giá :<del>@Model.Price VNĐ</del>@Model.PriceNew VNĐ</p>
                        <p class="in-pa">@Model.Detail</p>
                    </div>
                    @if (Model.GroupBook_Id != null)
                    {
                        <h4>Thể loại :<a href="@Url.Action("SachTheoTheLoai","TheLoai", new {@GroupBookId = Model.GroupBook_Id })"> @Model.GroupBook.Name</a></h4>
                    }
                    @if (Model.Auth_Id != null)
                    {
                        <h4>Tác giả :<a href="@Url.Action("SachTheoTacgia","Auth", new {@AuthId = Model.Auth_Id })"> @Model.Auth.Name</a></h4>
                    }
                    @if (@Model.Translator_Id != null)
                    {
                        <h4>Dịch giả :<a> @Model.Translator.Name</a></h4>
                    }
                    @if (@Model.Publisher_Id != null)
                    {
                        <h4>Nhà xuất bản :<a href="@Url.Action("SachTheoNXB","NXB", new {@PublisherId = Model.Publisher_Id })"> @Model.Publisher.Name</a></h4>}
                    @if (@Model.IssueDate != null)
                    {
                        <h4>Phát hành : <a>@Model.IssueDate</a></h4>
                    }
                    @if (@Model.Status != 0)
                    {
                        <h4>Tình Trạng :<label> Còn Hàng</label></h4>
                    }
                    else
                    {
                        <h4>Tình trạng :<label> Hết Hàng</label></h4>
                    }

                    <ul class="social-top">
                        <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                        <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                    </ul>
                    <div class="add add-3">
                        <button class="btn btn-danger my-cart-btn my-cart-b"
                                data-id="@Model.Id" data-name="@Model.Name"
                                data-summary="summary 1" data-price="@Model.PriceNew VNĐ"
                                data-quantity="1" data-image="@Model.ImageCover">
                            Add to Cart
                        </button>
                    </div>



                    <div class="clearfix"> </div>
                </div>


            </div>
            <div class="clearfix"> </div>
        </div>


    </div>
</div>
<!---->
