@using WebBanSach.Models
@model List<Book>

@*Hiển thị danh sách theo Thể loại*@
<div class="content-top ">
    <div class="container ">
        <div class="spec ">
            <h3>Ngôn tình</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        @foreach (Book item in Model)
        {
            <div class="con-w3l">
                <div class="col-md-3 m-wthree">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                            <img src="@item.ImageCover" class="img-responsive" alt="">
                            <div class="offer"><p><span>Đặc Biệt</span></p></div>
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                @*<h6><a href="~/">@item.Name</a></h6>*@
                                @if (@item.Name.Length > 25)
                                {
                                    <h6><a href="@Url.Action("XemChiTiet","SanPham", new {@BookId = @item.Id })">@item.Name.Substring(0, 25)...</a></h6>
                                }
                                else
                                {
                                    <h6><a href="@Url.Action("XemChiTiet","SanPham" ,new {@BookId = @item.Id })">@item.Name</a></h6>
                                }
                            </div>
                            <div class="mid-2">
                                <p><label>@item.Price VNĐ</label><em class="item_price">@item.PriceNew VNĐ</em></p>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="add">
                            <button class="btn btn-danger my-cart-btn my-cart-b "
                                    data-id="@item.Id" data-name="@item.Name"
                                    data-summary="summary 1" data-price="@item.PriceNew VNĐ"
                                    data-quantity="1" data-image="@item.ImageCover">
                                Add to Cart
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>